@model E_Mechanik_Web.Models.Message


<hr class="customHr" />

<h3 style="margin-left:50px">Wyślij wiadomość</h3>

<hr class="customHr" />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="createMessageBox" style="margin-top:30px;">


    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <p>
        @ViewBag.Message
    </p>

    <div class="form-group" style="display:inline-block">
        <div class="createMessageField" style="padding-left:30px;">
            @Html.LabelFor(model => model.ReceiverName, htmlAttributes: new { @class = "custom-text-form-2" })
        </div>
        @Html.EditorFor(model => model.ReceiverName, new { htmlAttributes = new { @class = "custom-input-form", style = "border:1px solid rgba(0,0,0,0.5);", @readonly="true" } })
        @Html.ValidationMessageFor(model => model.ReceiverName, "", new { @class = "text-danger" })
    </div>

    <div class="form-group Closer" style="display:inline-block">
        <div class="createMessageField" style="padding-left:50px;">@Html.LabelFor(model => model.Subject, htmlAttributes: new { @class = "custom-text-form-2" })</div>
        @Html.EditorFor(model => model.Subject, new { htmlAttributes = new { @class = "custom-input-form", style = "border:1px solid rgba(0,0,0,0.5);", @readonly = "true" } })
        @Html.ValidationMessageFor(model => model.Subject, "", new { @class = "text-danger" })
    </div>

    <div class="form-group CloserM" style="position:relative">
        <div class="createMessageField" style="padding-top:50px;">
            @Html.LabelFor(model => model.Text, htmlAttributes: new { @class = "custom-text-form-2" })
        </div>
    </div>
    <div class="form-group Closer" style="display:inline-block">
        @Html.EditorFor(model => model.Text, new { htmlAttributes = new { @class = "custom-input-form-message" } })
        @Html.ValidationMessageFor(model => model.Text, "", new { @class = "text-danger" })
    </div>


    <div class="form-group">
        <div style="margin-left:180px;">
            <input type="submit" value="Wyślij" class="btn btn-default" style="width:80px; border:1px double black;" />
        </div>
    </div>

</div>
}
<hr style="margin-top:30px;" class="customHr" />

<div style="float:left; position:absolute; margin-top:15px; margin-left:30px;">

    <button class="btn btn-default"> @Html.ActionLink("Wróć do skrzynki", "Index")</button>
</div>


