@model E_Mechanik_Web.Models.RegisterViewModel

<div class="box-main" style="margin-top:-50px">

    <div class="box-left">
        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <div class="customHr"></div>
            <h3>Utwórz nowe konto</h3>
            <div class="customHr" style="margin-top:15px"></div>
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="form-group" style="margin-top:15px">
                @Html.LabelFor(m => m.Email, new { @class = "custom-text-form" })

                @Html.TextBoxFor(m => m.Email, new { @class = "custom-input-form" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>
            <div class="form-group Closer">
                @Html.LabelFor(m => m.Password, new { @class = "custom-text-form" })
                @Html.PasswordFor(m => m.Password, new { @class = "custom-input-form" })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            </div>
            <div class="form-group Closer">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "custom-text-form" })
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "custom-input-form" })
                @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
            </div>
            <div class="form-group Closer">
                @Html.LabelFor(m => m.PhoneNumber, new { @class = "custom-text-form" })
                @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "custom-input-form" })
                @Html.ValidationMessageFor(m => m.PhoneNumber, "", new { @class = "text-danger" })
            </div>
            <div class="form-group Closer" style="display:inline-block">

                <b>Rejestruj jako:&nbsp  </b>
                <div style="text-align:left">
                    Client @Html.RadioButtonFor(m => m.Role, "Client")
                    &nbsp
                    Mechanic @Html.RadioButtonFor(m => m.Role, "Mechanic")
                </div>
            </div>
            <div class="form-group">
                <div>
                    <input type="submit" class="btn btn-default" value="Zarejestruj" />
                </div>
            </div>


        }

    </div>
    <div style="border-left:1px solid #d1d1d1;height:500px; margin-top:50px"></div>
    <div class="box-right" style="margin-top:150px">
        <div>
            <div class="customHr"></div>

            <h2>Masz już konto?</h2>
            <div style="margin-top:20px;" class="customHr"></div>
            <input class="btn btn-default" style="margin-top:15px" type="button" value="Zaloguj się" onclick="location.href='@Url.Action("Login", "Account")'" />


        </div>
    </div>

</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
