@model E_Mechanik_Web.Models.AvailableServiceCategory

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AvailableServiceCategories</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        @foreach (var item in Model.Services)
        {
            <dt>
                @Html.ActionLink(@item.Name, "GetServicesByName", new { Controller = "Services", name = item.Name })
            </dt>
        }

    </dl>
</div>
<br />
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
