<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-mechanik samochodowe usługi serwisowe</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body class="backgroundImage">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <ul class="nav navbar-nav">

                @{ if (User.Identity.IsAuthenticated)
                    {
                        <li style="border-left:1px dashed rgba(255, 255, 255,0.1);border-right:1px dashed rgba(255, 255, 255,0.1);">
                            <a href="@Url.Action("Index", "Home")" style="margin-right:0px; margin-top:0px; margin-bottom:0px;  width:80px;height:50px; padding:0;">
                                <img src="~/Content/Images/logo.png" style=" width:80px;height:50px; opacity:0.8" />
                            </a>
                        </li>

                        if (User.IsInRole("Admin"))
                        {
                            <li class="layout-button">@Html.ActionLink("Dostępne kategorie usług", "Index", "AvailableServiceCategories")</li>
                            <li class="layout-button">@Html.ActionLink("Dostępne usługi", "Index", "AvailableServices")</li>
                        }

                        <li class="layout-button">@Html.ActionLink("Usługi", "Index", "Services")</li>
                        <li class="layout-button">@Html.ActionLink("Kategorie", "Index", "AvailableServiceCategories")</li>
                        if(User.IsInRole("Mechanic"))
                                {
                            <li class="layout-button">@Html.ActionLink("Moje usługi", "MyServices", "Services")</li>
                        }
                        <li class="layout-button-last">@Html.ActionLink("Wiadmości", "Index", "Messages")</li>
                        <li style="border-left: 1px dashed rgb(57, 57, 57); width:1px;height:50px;"></li>
                    }
                    else
                    {
                        <li style="border-left:1px dashed rgba(255, 255, 255,0.1);border-right:1px dashed rgba(255, 255, 255,0.1);">
                            <a href="@Url.Action("Index", "Home")" style="margin-right:0px; margin-top:0px; margin-bottom:0px;  width:80px;height:50px; padding:0;">
                                <img src="~/Content/Images/logo.png" style=" width:80px;height:50px; opacity:0.8" />
                            </a>
                        </li>
                        <li class="layout-button">@Html.ActionLink("Usługi", "Index", "Services")</li>
                        <li class="layout-button-last">@Html.ActionLink("Kategorie", "Index", "AvailableServiceCategories")</li>
                        <li style="border-left: 1px dashed rgb(57, 57, 57); width:1px;height:50px;"></li>
                    }
                }


            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
    <div class="containers">
        <div class="box-content-layout container" style="background-color:rgba(0,0,0,0.02)">
            @RenderBody()
        </div>
        <hr />
        <div class="box-footer-layout">
            <footer>
                <p>E-mechanik&copy; - @DateTime.Now.Year</p>
            </footer>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
